@import "sass/variables";
@mixin radioButtonStyle {
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked+label,
    [type="radio"]:not(:checked)+label {
        position: relative;
        padding-left: 32px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        font-size: 16px !important;
}
    [type="radio"]:checked+label:before,
    [type="radio"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 17px;
        height: 17px;
        border: 2px solid $colorCobalt;
        border-radius: 100%;
        background: $colorCobalt;
    }
    [type="radio"]:checked+label:after,
    [type="radio"]:not(:checked)+label:after {
        content: '';
        width: 10px;
        height: 10px;
        background: $colorCobalt;
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@mixin checkButtonStyle {
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
    }
    [type="checkbox"]:not(:checked)+label,
    [type="checkbox"]:checked+label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        display: inline-block;
    }
    /* checkbox aspect */
    [type="checkbox"]:not(:checked)+label:before,
    [type="checkbox"]:checked+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 17px;
        height: 17px;
        border: 2px solid $colorCobalt;
        background: $colorWhite;
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked)+label:after,
    [type="checkbox"]:checked+label:after {
        background: $colorCobalt none repeat scroll 0 0;
        content: "";
        font-size: 1.3em;
        height: 7px;
        left: -20px;
        line-height: 0.8;
        position: absolute;
        top: 5px;
        // transition: all 0.2s ease 0s;
        width: 8px;
    }
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked)+label:after {
        opacity: 0;
        transform: scale(0);
    }
    [type="checkbox"]:checked+label:after {
        opacity: 1;
        transform: scale(1);
    }
    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked)+label:before,
    [type="checkbox"]:disabled:checked+label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
    }
    [type="checkbox"]:disabled:checked+label:after {
        color: $colorGray60;
    }

}



// @media only screen and (min-width: 725px) and (max-width: 740px) and (orientation: landscape) {
//     .assessment-container {

//         .assessment {

//             .options {

//                 &[type=radio]:not(:checked) {

//                 }
//             }
//         }
//     }
// }