@mixin floatLeft {
    float: left;
}

@mixin floatRight {
    float: right;
}

@mixin hunderedPertcentSize {
    width: 100%;
    height: 100%;
}

@mixin marginCommonProperty {
    margin: 10px 0;
}

@mixin linearBg {
    background: rgb(92,33,232);
background: linear-gradient(90deg, rgba(92,33,232,1) 0%, rgba(88,36,232,1) 20%, rgba(78,42,231,1) 40%, rgba(67,49,230,1) 60%, rgba(59,55,229,1) 80%, rgba(54,58,228,1) 100%);
}

@mixin h4Stylinig {
    font-size: 12px;
    color: $colorBlue;
    text-align: center;
    width: 100%;
    margin: 0;
}

@mixin centerAlign {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}
@mixin videoDurationProperty {
    position: absolute;
    background-color: $colorBlack;
    color: $colorWhite;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    font-weight: bold;
    opacity: 0.75;
}

@mixin currentPlaylistItem {
    border: 1px solid $colorCobalt;
    cursor: default;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: none;
    }
}

@mixin ItemFontStyle {
    font-size: 15px;
    line-height: 16px;
    vertical-align: middle;
    margin-left: 10px;
    overflow: hidden;
}

@mixin ChapterNoFontStyle {
    font-size: 14px;
    line-height: 19px;
    vertical-align: middle;
    margin-left: 15px;
    overflow: hidden;
}

@mixin ChapterNameFontStyle {
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    margin-left: 15px;
    overflow: hidden;
}

@mixin QuestionTitleFontStyle {
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    margin-left: 15px;
    overflow: hidden;
}

@mixin itemCompletion {
    background: url("../resources/image/chapter_complete_icon.svg") no-repeat;
    width: 11px;
    height: 11px;
    background-position: center center;
    background-size: 11px 11px;
}

@mixin itemInprogress {
    background: url("../resources/image/chapter_inprogress_icon.svg") no-repeat;
    width: 11px;
    height: 11px;
    background-position: center center;
    background-size: 11px 11px;
}



@mixin refreshBtn {
    background: url("../resources/image/audio_controls/refresh_btn.svg") no-repeat;
    width: 25px;
    height: 25px;
    background-position: center center;
    background-size: 25px 25px;

}

@mixin transcriptBtn {
    background: url("../resources/image/audio_controls/transcript_btn.svg") no-repeat;
    width: 18px;
    height: 17px;
    background-position: center center;
    background-size: 18px 17px;

}

@mixin backChaptBtn {
    background: url("../resources/image/audio_controls/back_chapt_btn.svg") no-repeat;
    width: 23px;
    height: 14px;
    background-position: center center;
    background-size: 23px 14px;

}

@mixin nextChaptBtn {
    background: url("../resources/image/audio_controls/next_chapt_btn.svg") no-repeat;
    width: 23px;
    height: 14px;
    background-position: center center;
    background-size: 23px 14px;

}

@mixin ccTextDisableBtn {
    background: url("../resources/image/audio_controls/cc_text_btn.svg") no-repeat;
    width: 16px;
    height: 14px;
    background-position: center center;
    background-size: 16px 14px;

}

@mixin ccTextEnableBtn {
    background: url("../resources/image/audio_controls/cc_text_enabled_btn.svg") no-repeat;
    width: 16px;
    height: 14px;
    background-position: center center;
    background-size: 16px 14px;

}

@mixin audioOnBtn {
    background: url("../resources/image/audio_controls/audio_on_btn.svg") no-repeat;
    width: 15px;
    height: 14px;
    background-position: center center;
    background-size: 15px 14px;

}

@mixin audioOffBtn {
    background: url("../resources/image/audio_controls/audio_off_btn.svg") no-repeat;
    width: 15px;
    height: 14px;
    background-position: center center;
    background-size: 15px 14px;

}

@mixin playBtn {
    background: url("../resources/image/audio_controls/play_btn.svg") no-repeat;
    width: 35px;
    height: 35px;
    background-position: center center;
    background-size: 35px 35px;
    font-size: 0px;
    border: none;

}

@mixin pauseBtn {
    background: url("../resources/image/audio_controls/pause_btn.svg") no-repeat;
    width: 35px;
    height: 35px;
    background-position: center center;
    background-size: 35px 35px;
    font-size: 0px;
    border: none;

}

@mixin popupCloseBtn {
    background: url("../resources/image/popup_close_btn.svg") no-repeat;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-size: 24px 24px;

}

@mixin popupCloseBtnQuest {
    background: url("../resources/image/popup_close_Quest.svg") no-repeat;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-size: 24px 24px;

}

@mixin menuBtn {
    background: url("../resources/image/menu_btn.svg") no-repeat;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-size: 24px 24px;

}

@mixin chapterLockIcon {
    position: relative;

    &::after {
        content: "";
        background: url("../resources/image/chapter_lock_icon.svg") no-repeat;
        width: 18px;
        height: 18px;
        background-position: 0 0;
        background-size: 18px 18px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

}

@mixin chapterUnlockIcon {
    position: relative;

    &::after {
        content: "";
        background: url("../resources/image/chapter_unlock_icon.svg") no-repeat;
        width: 18px;
        height: 18px;
        background-position: 0 0;
        background-size: 18px 18px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

}

@mixin chapterCompleteIcon {
    position: relative;

    &::after {
        content: "";
        background: url("../resources/image/chapter_complete_icon.svg") no-repeat;
        width: 11px;
        height: 11px;
        background-position: 0 0;
        background-size: 11px 11px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

}

@mixin rangeThumb {
        position: relative;
        background: url("../resources/image/audio_controls/range_thumb.png") no-repeat;
        width: 15px;
        height: 15px;
        background-position: 0 0;
        background-size: cover;
}




@mixin KCBGImg {
    background: url("../resources/image/KC-question-icon.png") no-repeat;
    background-position: center center;
    background-size: 120px 120px;
}

@mixin closeButton {
    top: 50%;
    width: 25px;
    height: 25px;
    right: 15px;
    position: absolute;
    cursor: pointer;
    transform: translateY(-50%);
    overflow: hidden;
    &:before {
        background: none;
        content: "\2A2F";
        font-size: 33px;
        color: $colorWhite;
        position: absolute;
        cursor: pointer;
        top: -10px;
    }
}

@mixin feedbackCommonProperty {
    width: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    height: auto;
    margin: 0 auto;
}

@mixin commonProperty {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

@mixin crossMark {
    background: none;
    content: "\2717";
    font-size: 18px;
    color: $colorTertiaryRed;
    height: 15px;
    left: -16px;
    position: absolute;
    top: -3px;
    width: 15px;
    font-weight: bold;
}

@mixin tickMark {
    background: none;
    content: "\2713";
    font-size: 18px;
    color: $colorTertiaryLightGreen;
    height: 15px;
    left: -16px;
    position: absolute;
    top: -3px;
    width: 15px;
    font-weight: bold;
}

@mixin submitButton {
    width: auto;
    height: 35px;
    line-height: 5px;
    font-weight: normal;
    border: 0;
    font-size: $fontSizeMini;
    border-radius: 5px;
}

@mixin underlineFromLeft {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: $colorCobalt;
        height: 4px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover,
    &:hover:before,
    &:focus:before,
    &:active:before {
        right: 0;
        cursor: pointer;
    }
}

@mixin grayscale {
    filter: grayscale(100%);
}