$colorNavyBlue: #151495;
$colorBlue: #00338d;
$colorMediumBlue: #005EB8;
$colorLightBlue: #0091DA;
$colorCobalt: #1E49E2;
$colorCobaltBlue: #3250A3;
$colorSacramentoGreen: #033333;
$colorViolet: #483698;
$colorPurple: #7213EA;
$colorLightPurple: #6d2077;
$colorGreen: #00a3a1;
$colorDarkGreen: #009a44;
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorTertiaryLightGreen: #43b02a;
$colorTertiaryRed: #bc204b;
$colorOrange: #F68D2E;
$colorGray40: #666666;
$colorGray20: #333333;
$colorGray94: #F0F0F0;
$colorGray60: #999999;
$colorGrayCCC: #CCCCCC;
$colorGrayE5: #E5E5E5;
$colorRed: #FF0000;
$colorPink:#FD349C;
$fontSizeMicro: 10px;
$fontSizeMini: 14px;
$fontSizeStandard: 16px;
$fontSizeMidium: 18px;
$fontSizeLarge: 20px;
$fontSizeExtraLarge: 24px;
$fontSizeBitLarger: 25px;
$headerFontSize: 36px;
$fontSizeLargest: 42px;
$fullWidth: 100%;
$fullHeight: 100%;
$lightGreyBorder: 1px solid $colorGray94;
$animSpeed: 0.2s;
$animSpeed1: 0.8s;