<div class="carousel-slide">
    <div class="menu-icon-leftpanel"></div>
    <img src="{{preview}}" alt="Slide Image">
    <div class="carousel-txt-cont">
        {{{description}}}
    </div>

</div>

