<div class="carousel-content" id="carousel-content">
</div>
{{!-- <div class="carousel-controls">
    <button class="prev">Prev</button>
    <button class="next">Next</button>
</div> --}}

<div class="carousel-indicators"></div> <!-- Add this for circle buttons -->