@import "sass/variables";
@import "sass/mixins";

@keyframes toHideLauncher {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes toAnimateRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes toAnimateRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes toAnimateLeft {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes toAnimateLeft {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes toAnimateRightMob {
    from {
        left: 100%;
    }

    to {
        left: 0px;
    }
}

@-webkit-keyframes toAnimateRightMob {
    from {
        left: 100%;
    }

    to {
        left: 0px;
    }
}

@keyframes toAnimateLeftMob {
    from {
        left: 0px;
    }

    to {
        left: 100%;
    }
}

@-webkit-keyframes toAnimateLeftMob {
    from {
        left: 0px;
    }

    to {
        left: 100%;
    }
}

@keyframes toAnimateRightMobile {
    from {
        left: -100%;
    }

    to {
        left: -15%;
    }
}

@-webkit-keyframes toAnimateRightMobile {
    from {
        left: -100%;
    }

    to {
        left: -15%;
    }
}


@keyframes toAnimateLeftMobile {
    from {
        left: -15%;
    }

    to {
        left: -100%;
    }
}

@-webkit-keyframes toAnimateLeftMobile {
    from {
        left: -15%;
    }

    to {
        left: -100%;
    }
}


@keyframes toAnimateDown {
    from {
        height: 0px;
    }

    to {
        height: 50px;
    }
}

.course {
    @include commonProperty;
    padding: 0;
    margin: 0;
    background-color: $colorGrayE5;
    overflow: hidden;
    display: block;

    .course-leftpanel {
        width: 4%;
        height: 100%;
        background-color: #00338d;
        position: relative;
        float: left;
    }

    .course-leftpanel-overlay {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        float: left;
        left: 0;
        z-index: 999;
        display: none;
    }

    .course-leftpanel {
        .close-outer {
            display: none;
        }

        .glossary-button {
            display: flex;
            justify-content: center;
            padding: 20px 0 30px 0;

            img {
                cursor: pointer;
            }

            h4 {
                display: none;
            }
        }

        .resource-button {
            display: flex;
            justify-content: center;

            img {
                cursor: pointer;
            }

            h4 {
                display: none;
            }
        }

        .help-button {
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;


            img {
                cursor: pointer;
            }

            h4 {
                display: none;
            }
        }


        .exit-button {
            position: absolute;
            right: 10px;
            top: 95%;
            transform: translateY(-50%);
            font-size: 16px;
            // padding: 6px 10px 5px 10px;
            cursor: pointer;
            opacity: 0.9;
            color: white;

            &:hover {
                opacity: 1;
            }
        }

        &.show-exit {
            .help-button {
                right: 70px;
            }
        }

        &.animate-right {
            opacity: 0;
        }

        &.to-animate-right {
            -webkit-animation: toAnimateRight 0.3s 1 ease-in;
            animation: toAnimateRight 0.3s 1 ease-in;
        }

        &.to-animate-left {
            -webkit-animation: toAnimateLeft 0.3s 1 ease-in;
            animation: toAnimateLeft 0.3s 1 ease-in;
        }

        &.to-full-width {
            width: 75%;
            -webkit-animation: toFullWidth 0.3s 1 ease-in;
            animation: toFullWidth 0.3s 1 ease-in;
        }

        &.to-small-width {

            width: 100%;
            -webkit-animation: toSmallWidth 0.3s 1 ease-in;
            animation: toSmallWidth 0.3s 1 ease-in;
        }
    }

    .course-header {
        width: 95%;
        height: 40px;
        z-index: 1;
        position: relative;
        display: flex;
        background-color: $colorWhite;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

        .logo {
            position: relative;
            height: 27px;
            width: 65px;
            padding: 5px 0;

            img {
                height: auto;
                padding: 0;
                width: 100%;
                ;
            }
        }

        .title {
            max-width: 80%;
            padding-left: 3%;

            p {
                display: table-cell;
                vertical-align: middle;
                font-family: "KPMGCyrillic-Bold";
                font-size: $headerFontSize;
                line-height: 34px;
                font-weight: normal;
                color: $colorBlue;
                width: $fullWidth;
            }
        }




    }

    .course-body {
        height: calc(100% - 210px);
        display: inline-flex;
        width: 96%;
        position: relative;
        padding: 0 1.5%;
        box-sizing: border-box;
    }

    .launch-holder {
        width: 80%;
        height: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        background-image: url("../../../resources/image/background.jpg");
        z-index: 1050;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: cover;

        &.to-hide {
            animation: toHideLauncher 0.2s 1 ease-in;
        }

        .launch-title {
            position: absolute;
            left: 20%;
            top: 20%;
            width: 70%;

            .logo {
                position: relative;
                top: 0;
                left: 0;
                width: 100px;
                height: 45px;

                svg {
                    .logo-color {
                        fill: $colorWhite;
                    }
                }
            }

            .course-title {
                position: relative;
                font-family: "KPMGCyrillic-Bold";
                font-size: 55px;
                margin-top: 20px;
                color: $colorWhite;
            }
        }

        .launch-button {
            position: absolute;
            cursor: pointer;
            left: 20%;
            top: 39%;
            height: 40px;
            width: 132px;
            line-height: 40px;
            text-align: center;
            text-transform: uppercase;
            opacity: 0.9;
            font-weight: bold;
            transition: opacity 0.2s;
            color: $colorBlue;
            background-color: $colorWhite;

            &:hover {
                opacity: 1;
            }
        }
    }
}

@media all and (-ms-high-contrast:none) {
    .title {
        p {
            line-height: 44px !important;
        }
    }
}

// mobile protrait
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .course {
        overflow: auto;

        .course-leftpanel {
            display: none;
            position: absolute;
            width: 100%;
            left: -100%;
            z-index: 999;

            .glossary-button {
                justify-content: flex-start;
                margin: 45px 20px 0px 21%;
                padding: 0;
                box-sizing: border-box;
                border-top: 2px solid rgba($color: #1E49E2, $alpha: 0.5);

                h4 {
                    display: block;
                    color: $colorWhite;
                    padding-left: 15px;
                    font-size: $fontSizeMini;
                }
            }

            .resource-button {
                justify-content: flex-start;
                margin: 0px 20px 0px 21%;
                box-sizing: border-box;
                border-top: 2px solid rgba($color: #1E49E2, $alpha: 0.5);

                h4 {
                    display: block;
                    color: $colorWhite;
                    padding-left: 15px;
                    font-size: $fontSizeMini;
                }
            }

            .help-button {
                justify-content: flex-start;
                margin: 0px 20px 0px 21%;
                box-sizing: border-box;
                position: relative;
                bottom: auto;
                border-top: 2px solid rgba($color: #1E49E2, $alpha: 0.5);

                h4 {
                    display: block;
                    color: $colorWhite;
                    padding-left: 15px;
                    font-size: $fontSizeMini;
                }
            }

            .close-outer {
                width: 100%;
                height: 40px;
                background: transparent;
                position: absolute;
                top: 0;
                z-index: 1;
                display: block;

                .menu-text {
                    display: block;
                    color: $colorWhite;
                    font-size: $fontSizeLarge;
                    font-weight: bold;
                    margin: 8px 0 0 21%;
                }
                .close-button {
                    @include closeButton;
                }
            }

            &.animate-right {
                opacity: 1;
                display: block;
                left: -15%;
            }

            &.to-animate-right {
                opacity: 1;
                display: block;
                -webkit-animation: toAnimateRightMobile 0.3s 1 ease-in;
                animation: toAnimateRightMobile 0.3s 1 ease-in;
            }

            &.to-animate-left {
                opacity: 1;
                -webkit-animation: toAnimateLeftMobile 0.3s 1 ease-in;
                animation: toAnimateLeftMobile 0.3s 1 ease-in;
            }
        }

        .carousel-container {
            width: 100%;
            overflow: auto;
        }

        .course-body {
            width: 100%;
            padding: 0 15px;
            height: 95%;
        }

        .launch-holder {

            .launch-title {
                top: 10%;

                .logo {
                    width: 80px;
                    height: 40px;
                }

                .course-title {
                    font-size: 45px;
                    margin-top: 10px;
                }
            }

            .launch-button {
                right: 10%;
                bottom: 10%;
            }
        }
    }
}

// mobile landscape
@media only screen and (min-width: 1px) and (max-width: 767px) and (orientation: landscape) {

    .course {
        .course-leftpanel {
            display: none;

            .glossary-button {
                margin: 45px 20px 0px 3%;
            }

            .resource-button {
                margin: 0px 20px 0px 3%;
            }

            .help-button {
                margin: 0px 20px 0px 3%;
            }

            .close-outer {
                width: 100%;
                height: 40px;
                background: transparent;
                position: absolute;
                top: 0;
                z-index: 1;
                display: block;

                .menu-text {
                    margin: 8px 0 0 3%;
                }

                .close-button {
                    @include closeButton;
                }
            }

            &.animate-right {
                opacity: 1;
                left: 0;
                display: block;
            }

            &.to-animate-right {
                opacity: 1;
                display: block;
                -webkit-animation: toAnimateRightMobile 0.3s 1 ease-in;
                animation: toAnimateRightMobile 0.3s 1 ease-in;
            }

            &.to-animate-left {
                opacity: 1;
                -webkit-animation: toAnimateLeftMobile 0.3s 1 ease-in;
                animation: toAnimateLeftMobile 0.3s 1 ease-in;
            }
        }

        .carousel-container {
            width: 100%;
        }

        .course-body {
            width: 100%;
            padding: 0 15px;
        }

        .launch-holder {

            .launch-title {
                top: 15%;

                .logo {
                    width: 80px;
                    height: 40px;
                }

                .course-title {
                    font-size: 45px;
                    margin-top: 10px;
                }
            }

            .launch-button {
                right: 10%;
                bottom: 15%;
            }
        }
    }
}

// iPad portrait
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .course {
        .launch-holder {

            .launch-title {
                top: 10%;
            }

            .launch-button {
                right: 10%;
                bottom: 10%;
            }
        }
    }
}

// iPad Landscape
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .course {
        .launch-holder {

            .launch-title {
                top: 10%;
            }

            .launch-button {
                right: 10%;
                bottom: 10%;
            }
        }
    }
}

@media screen and (min-width: 1900px) {
    .course {
        .course-body {
            height: calc(100% - 285px);
        }
    }
}