@import "sass/variables";
@import "sass/mixins";
@import "sass/knowledgeChkButtons";

.assessment-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 1;
    display: none;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.6);

    .startAssessment {
        position: absolute;
        width: 80%;
        height: 57%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: $colorBlue;
        color: $colorWhite;

        .startAssessment-container {
            width: 100%;
            height: 100%;
            background: $colorWhite;
            color: $colorBlue;
            display: table;
            border-radius: 10px;



            .leftBox {
                width: 37%;
                height: 100%;
                background: $colorGreen;
                border: 0px solid $colorBlue;
                text-align: center;
                display: table-cell;
                box-sizing: border-box;
                vertical-align: top;
                overflow: hidden;
                background-image: url(../resources/image/assessmentImage.png);
                background-repeat: no-repeat, repeat;
                background-size: cover;
                border-radius: 10px 0 0 10px;
            }

            .rightBox {
                height: 300px;
                display: table-cell;
                vertical-align: top;
                padding-bottom: $fontSizeLarge;
                padding-left: 0;
                padding-right: 0;
                padding-top: 0;
                position: relative;
                border: 0px solid $colorBlue;
                width: 59%;

                .title {
                    background: rgba(0, 184, 245, 0.1);
                    padding: 10px 10px 10px 20px;
                    width: 100%;
                    font-size: 22px;
                    font-weight: bold;
                }

                .startAssessmentLine {
                    width: 100%;
                    float: left;
                    opacity: 0.5;
                    border-bottom: 1px solid $colorBlue;
                    display: none;
                }

                .closeBtn {
                    @include popupCloseBtn;
                    position: absolute;
                    right: 14px;
                    top: 14px;
                    cursor: pointer;
                    border: none;
                }

                .start-btn {
                    padding: 8px 20px;
                    float: left;
                    margin-top: 30px;
                    margin-left: 20px;
                    background: rgb(112,21,234);
                    background: linear-gradient(90deg, rgba(112,21,234,1) 0%, rgba(103,26,233,1) 20%, rgba(86,38,231,1) 40%, rgba(61,53,229,1) 60%, rgba(45,63,228,1) 80%, rgba(32,72,226,1) 100%);
                    color: $colorWhite;
                    font-size: $fontSizeStandard;
                    font-weight: bold;
                    border-radius: 5px;
                    cursor: pointer;

                    &.disabled {
                        background: $colorGray60;
                        color: $colorGray94;
                        cursor: default;
                    }
                }

                .content {
                    font-size: $fontSizeStandard;
                    padding: 20px 20px 0;

                    p {
                        margin: 0px
                    }

                    .instText {
                        font-weight: bold;
                        font-style: italic;
                        color: $colorPurple;
                    }
                }
            }
        }
    }

    .assessment {
        position: absolute;
        width: 60%;
        height: 55%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        padding: 0px;
        background-color: $colorWhite;
        border-radius: 10px;
        // color: $colorWhite;
        display: none;

        .assessmentCloseBtn {
            @include popupCloseBtnQuest;
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            border: none;
        }

        .question-container {
            width: $fullWidth;
            background: rgba(0, 184, 245, 0.1);
            display: flex;
            align-items: center;
            padding: 10px 37px 10px 10px;
            box-sizing: border-box;

            .index {
                @include floatLeft;
                width: 7%;
                color: #00338d;
                font-size: 54px;
                line-height: 32px;
                padding-top: 10px;
                position: absolute;
                top: 25px;
                left: 10px;
                display: none;
            }

            .question-number {
                width: 50px;

                .quest-num-1 {
                    font-size: 22px;
                    font-weight: bold;
                }

                .quest-num-2 {
                    font-size: 16px;
                }
            }

            .page-number {
                color: $colorBlue;
                font-size: $fontSizeMidium;
                width: 50px;
                text-align: center;
            }

            .question-text {
                // background: rgba(0, 184, 245, 0.1);
                padding: 15px 10px 15px 5px;
                width: calc(100% - 50px);
                font-size: $fontSizeMidium;
                font-weight: bold;
                color: $colorBlue;
                box-sizing: border-box;
            }
        }

        .question-data {
            @include floatLeft;
            padding: 20px;
            width: 100%;
            box-sizing: border-box;
            background: $colorWhite;
            border-radius: 0 0 10px 10px;

            .instruction {
                font-style: italic;
                width: $fullWidth;
                color: $colorPurple;
                font-weight: bold;
                font-size: $fontSizeStandard;
                margin-bottom: $fontSizeLarge;
                padding-bottom: 8px;
            }

            hr {
                @include marginCommonProperty;
                width: 100%;
                border-bottom: 1px solid rgba($colorWhite, 0.5);
            }
        }

        .options {
            .option {
                width: $fullWidth;
                height: auto;
                min-height: 30px;
                box-sizing: border-box;
                padding-right: 0px;
                padding-bottom: $fontSizeMicro;
                position: relative;
                text-align: left;
                display: flex;

                .ck-option {
                    background: $colorBlack;
                }

                span{
                    padding-right: 10px;
                }
                label {
                    font-size: $fontSizeStandard;
                    color: $colorWhite;
                    line-height: $fontSizeMidium;
                }

                &.correct::after {
                    @include tickMark;
                }

                &.incorrect::after {
                    @include crossMark;
                }

                [type="radio"] {
                    &:checked+label {
                        &:before {
                            background: $colorLightBlue;
                        }
                    }

                    &:not(:checked)+label {
                        &:before {
                            background: $colorLightBlue;
                        }
                    }

                    &:checked {
                        + {
                            label {
                                &:before {
                                    height: 17px;
                                    background: $colorWhite;
                                }

                                color: $colorBlue;
                            }
                        }
                    }

                    &:not(:checked) {
                        + {
                            label {
                                &:before {
                                    height: 17px;
                                    background: $colorWhite;
                                }

                                color: $colorBlue;
                            }
                        }
                    }
                }
            }

            @include radioButtonStyle;
            @include checkButtonStyle;
        }

        .btn-container {
            .ck-back-btn,
            .ck-submit-btn {
                padding: 10px 20px;
                margin-top: 20px;
                margin-left: 0px;
                background: rgb(112,21,234);
                background: linear-gradient(90deg, rgba(112,21,234,1) 0%, rgba(103,26,233,1) 20%, rgba(86,38,231,1) 40%, rgba(61,53,229,1) 60%, rgba(45,63,228,1) 80%, rgba(32,72,226,1) 100%);
                color: $colorWhite;
                font-size: $fontSizeMini;
                font-weight: normal;
                border-radius: 5px;
                cursor: pointer;
                border: none;
                display: block;
            }
            .ck-back-btn {
                padding: 10px 27px;
            }
            .ck-back-btn.disabled,
            .ck-submit-btn.disabled {
                background: $colorGray60;
                color: $colorGray94;
                cursor: default;

                &:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    background: none;
                    transition-property: none;
                }

                &:hover:before,
                &:focus:before,
                &:active:before {
                    right: 0;
                    cursor: default;
                }
            }
        }
    }

    .feedback-container {
        @include commonProperty;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 0;
        overflow: hidden;

        .feedback {
            @include feedbackCommonProperty;
            display: none;
            background: $colorWhite;
            min-height: 120px;
            padding: $fontSizeLarge;
            transform: translate(-50%, -50%);
            z-index: 1;

            hr {
                @include marginCommonProperty;
                width: $fullWidth;
                border-bottom: 1px solid $colorBlue;
            }

            .title {
                color: $colorBlue;
                font-size: $fontSizeBitLarger;
            }

            .content {
                color: $colorGray20;
                font-size: $fontSizeMini;
                line-height: $fontSizeMidium;
                padding-bottom: $fontSizeMicro;
            }

            .btn-container {
                color: $colorWhite;

                .ck-continue-btn {
                    @include submitButton;
                    @include underlineFromLeft;
                    display: none;
                    color: $colorWhite;
                    background-color: $colorOrange;

                    &:before {
                        background: $colorBlue;
                    }
                }

                .ck-try-again-btn {
                    @extend .ck-continue-btn;
                }
            }
        }
    }

    .assesmentShadow {
        display: none;
        position: absolute;
        width: 70%;
        height: 80%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 0px solid $colorMediumBlue;
        color: $colorWhite;
        background-color: $colorWhite;
        border-radius: 10px;

        .assessmentHeader {
            background: rgba(0, 184, 245, 0.1);
            padding: 10px 10px 10px 20px;
            width: 100%;
            font-size: 22px;
            font-weight: bold;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;

            .closeBtn {
                @include popupCloseBtn;
                position: absolute;
                right: 14px;
                top: 14px;
                cursor: pointer;
                border: none;
            }

            .titleText {
                color: $colorBlue;
                font-size: 22px;
                font-weight: bold;
                text-align: center;
            }
        }

        .resultMain {
            position: relative;
            width: 100%;
            height: 90%;
            background: transparent;

            .resultTop {
                margin-bottom: 3px;
                text-align: center;
                width: 100%;
                height: auto;
                color: $colorBlue;

                .resultDivideLine {
                    width: 75%;
                    opacity: 0.5;
                    height: 1px;
                    background-color: $colorBlue;
                }

                .resultText {
                    line-height: 2px;
                    padding: 5px 0 20px;
                }

                .iconImage {
                    img {
                        margin-top: 20px;
                    }
                }
            }

            .resultMiddle {
                height: auto;
                overflow: auto;
                position: relative;
                width: 63%;
                background: rgba(0, 184, 245, 0.1);
                left: 20%;
                border-radius: 10px;

                .resultgrad {
                    float: left;
                    margin: 0 auto;
                    width: 100%;
                    padding: 0 15px;
                    box-sizing: border-box;

                    .scoreDisplay {
                        display: table;
                        margin: 20px auto;
                        padding-left: 0;

                        li {
                            display: table-cell;
                            margin-right: $fontSizeLarge;
                            padding: 0 10px;
                            vertical-align: middle;
                            text-align: center;
                        }

                        div {
                            color: $colorWhite;
                            float: left;
                            height: 30px;
                            padding: 3% 0 0 2%;
                            text-align: center;
                            width: 22%
                        }

                        .box {
                            color: $colorWhite;
                            font-weight: bold;
                            text-align: center;
                            width: 30%;
                            background: $colorPurple;
                            border: 1px solid #94a3b5;
                            height: 35px;
                            border-radius: 5px;
                        }

                        .result {
                            padding-right: 35px;
                            padding-left: 0px;
                        }

                        .failpass {
                            padding-right: 35px;
                            padding-left: 35px;
                        }

                        .result,
                        .failpass {
                            color: $colorBlue;
                            font-weight: bold;
                        }
                    }
                }
            }

            .resultfooter {
                width: 100%;

                .infoText {
                    margin-bottom: 3px;
                    text-align: center;
                    width: 100%;
                    height: auto;
                    color: $colorBlue;
                    margin-top: 40px;
                }

                .remedialContainer {

                    .remediaHeader {
                        color: $colorWhite;
                        background: $colorLightBlue;
                        font-size: $fontSizeMidium;
                        line-height: 26px;
                        padding-bottom: 7px;
                        padding-left: 22px;
                        padding-right: 22px;
                        padding-top: 7px;
                        text-align: center;
                    }

                    .showRemedial {
                        position: absolute;
                        top: 0;
                        display: none;
                        height: calc(100% - 79px);
                        padding: 20px;
                        color: $colorBlack;
                        overflow-x: hidden;
                        -webkit-overflow-scrolling: touch;
                        line-height: 18px;
                        width: 100%;
                        box-sizing: border-box;

                        .questContainer {
                            border-bottom: 2px solid #8099c6;
                            padding: 10px 0;
                            border-bottom: none;
                            padding: 10px 0 20px;

                            span.textSpacing {
                                &:nth-child(2) {
                                    display: block;
                                    padding-top: 10px;
                                    padding-bottom: 5px;
                                }
                            }
                        }
                    }
                }

                .showRemedialHide,
                .showRemedialShow {
                    background: $colorBlue;
                    color: $colorWhite;
                    float: left;
                    cursor: pointer;
                    font-weight: bold;
                    line-height: 32px;
                    margin-left: 20px;
                    position: absolute;
                    bottom: 0;
                }

                .showRemedialHide {
                    right: 0;
                    left: 0;
                    padding: 5px 25px 2px;
                    width: 238px;
                    box-sizing: border-box;
                    margin: 0 auto;
                    position: absolute;
                    float: none;
                }

                .showRemedialShow {
                    right: 0;
                    left: 0;
                    padding: 5px 25px 2px;
                    width: 238px;
                    box-sizing: border-box;
                    margin: 0 auto;
                    position: absolute;
                    float: none;
                }
            }
        }

        &.detailed_feedback {
            color: $colorGray20;
            background: $colorWhite;

            .showRemedial {
                color: $colorGray20;
                background: $colorWhite;
            }

            .resultMain {
                .resultTop {
                    color: $colorGray20;
                }
            }
        }
    }
}


/* media queries*/

// mobile both
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .assessment-container {
        height: 100%;
        top: 0px;

        .assessment {
            position: absolute;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            left: 0;
            top: 0;
            padding: 0px;
            color: $colorWhite;

            .question-container {
                margin-top: 0px;

                .page-number {

                    .index {
                        font-size: $fontSizeExtraLarge;
                        line-height: $fontSizeExtraLarge;
                    }
                }

            }
        }

        .feedback-container {
            .feedback {
                min-height: 140px;
                width: 80%;
            }
        }
    }
}

// Mobile Landscape
@media only screen and (max-width: 767px) and (orientation: landscape) {
    .assessment-container {
        height: 100%;
        top: 0px;

        .startAssessment {

            .startAssessment-container {

                .rightBox {
                    height: 490px;
                }
            }
        }

        .assessment {
            width: calc(100% - 40px);
            height: 100%;

            .question-data {
                padding-left: 20px;
                width: 100%;

            }
        }

        .feedback-container {
            .feedback {
                width: calc(100% - 90px);
                transform: translate(-50%, -10%);
            }
        }
    }
}

// iPad landscape
@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .assessment-container {
        top: 0px;

        .assessment {
            .question-container {
                .page-number {

                    .index {
                        width: 10%;
                        left: 0;
                    }
                }
                .question-text {
                    line-height: 18px;
                    font-size: 16px;
                }
            }

            .question-data {
                padding-left: 20px;
                width: 100%;

                .instruction {
                    margin-bottom: 5px;
                }
            }

            .options {

                .option {
                    padding-bottom: 5px;

                    // label {
                    //     font-size: 14px !important;
                    // }

                    [type="radio"] {
                        &:checked+label {
                            font-size: 14px !important;
                        }

                        &:not(:checked)+label {
                            font-size: 14px !important;
                        }
                    }

                }
            }

            .btn-container {

                .ck-submit-btn {
                    margin-top: 5px;
                    display: inline-block;
                }
                .ck-back-btn {
                    margin-top: 5px;
                    display: inline-block;
                }
            }
        }

        .feedback-container {
            .feedback {
                width: calc(60% - 60px);
                transform: translate(-50%, -50%);
            }
        }
    }
}

// iPad portrait
@media only screen and (min-width: 768px) and (orientation: portrait) {
    .assessment-container {
        height: calc(100% - 45px);
        top: 45px;

        .assessment {
            .question-container {
                .index {
                    width: 10%;
                    font-size: $headerFontSize;
                }
            }

            .question-data {
                padding-left: 20px;
                width: 100%;
            }
        }

        .feedback-container {
            .feedback {
                transform: translate(-50%, -10%);
            }
        }
    }
}

// custom
@media screen and (max-width: 768px) {
    .assessment-container {
        .startAssessment {
            margin: 20px auto;

            .startAssessment-container {
                .leftBox {
                    width: 100%;
                    display: block;
                    height: 300px;
                    border-radius: 10px 10px 0 0;
                }

                .rightBox {
                    width: 100%;
                    height: 490px;
                    display: block;
                    // background: $colorBlue;
                    // color: $colorWhite;
                    box-sizing: border-box;
                    padding: 0px;

                    .start-btn {
                        top: auto;
                        bottom: 10px;
                        right: 40%;
                    }
                }
            }
        }


        .assessment {
            height: 100%;
            min-height: 300px;

            .question-container {
                .question-text {
                    // padding: 25px 20px 25px 90px;
                    line-height: 22px;
                    padding: 15px 10px 15px 5px;
                }

                .page-number {
                    width: 50px;

                    .index {
                        font-size: 55px;
                    }
                }
            }

            .question-data {
                width: 100%;
                overflow-y: auto;
                padding: 10px;

                .btn-container {
                    .ck-submit-btn {
                        margin-top: 5px;
                    }
                }
            }
        }

        .assesmentShadow {
            height: 605px;
            margin: 20px auto;
            width: 91%;

            .assessmentHeader {
                padding: 25px 10px 25px 20px;
                box-sizing: border-box;
            }

            .resultMain {
                height: 522px;

                .resultTop {
                    .resultText {
                        p {
                            margin-bottom: 20px;
                            line-height: 20px;
                        }
                    }
                }

                .resultMiddle {
                    width: 92%;
                    left: 4%;

                    .resultgrad {

                        .scoreDisplay {
                            display: block;
                            padding: 0 20px;
                            width: 100%;
                            box-sizing: border-box;

                            .result {
                                display: block;
                                width: 100%;
                                box-sizing: border-box;
                                padding: 10px;
                            }

                            .box {
                                height: auto;
                                display: block;
                                margin: 0 auto;
                                padding: 5px;
                            }

                            .failpass {
                                display: block;
                                width: 100%;
                                box-sizing: border-box;
                                padding: 10px;
                            }
                        }
                    }
                }

                .resultfooter {

                    .remedialContainer {
                        .showRemedial {
                            height: calc(100% - 42px);
                        }
                    }

                    .showRemedialHide {
                        position: relative;
                    }

                    .showRemedialShow {
                        position: relative;
                    }
                }
            }
        }


    }

    .modal-background {

        &.fade {

            .modal-dialog {
                width: 85%;
            }
        }
    }

}

@media screen and (max-height: 600px) {
    .startAssessment {
        .startAssessment-container {
            .resultCloseBtn{
                position: absolute;
                right: 0px;
                cursor: pointer;
                font-size: 25px;
                top: 0%;
                padding: 0;
                background-color: #00338d;
            }
            .leftBox {
                width: 100%;
                height: 300px;
            }

            .rightBox {
                width: 100%;
                height: 387px;
                // background: $colorBlue;
                // color: $colorWhite;
                box-sizing: border-box;
                padding: 20px;

                .start-btn {
                    top: auto;
                    bottom: 10px;
                    right: 40%;
                }
            }
        }
    }
}