
<div class="right-content">
    <span class="item-complete" {{#if kccomplete}}{{else}} style="display:none" {{/if}}></span>
    <div class="item-index">{{title}}</div>
    {{!-- <div class="item-title">{{quesDescription}}</div> --}}
</div>
