<div class="close-outer">
    <div class="close-button"></div>
</div>

<div class="playlist-inner"></div>
{{!-- <div class="questionlist-inner"></div> --}}
<div class="knowledge-check-list-inner"></div>

<div class="playlist-buttons">

</div>