
<div class="right-content">
    <span class="item-complete" {{#if kccomplete}}{{else}} style="display:none" {{/if}}></span>
    <div class="item-index">Question {{srNumbar}} | {{total}} Question</div>
    <div class="item-title">{{quesDescription}}</div>
</div>
{{!-- <div class="description-content">
    <div class="description"></div>
</div> --}}