@import "sass/variables";
@import "sass/mixins";

.modal-background {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 14px;

    &.fade {
        opacity: 0;
        -webkit-transition: opacity .15s linear;
        -o-transition: opacity .15s linear;
        transition: opacity .15s linear;

        &.in {
            opacity: 1;
            display: block;
        }

        .modal-dialog {
            background-color: $colorWhite;
            border: 1px solid rgba(71, 10, 104, 0.5);
            border-radius: 6px;
            -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
            margin: auto;
            width: 40%;
            min-height: 200px;
            overflow: hidden;

            .modal-header {
                background: rgba(0, 184, 245, 0.1);
                padding: 10px 10px 10px 20px;
                display: flex;
                width: 100%;
                font-size: 18px;
                color: #00338d;
                box-sizing: border-box;

                .modal-title {
                  //  font-weight: bold;
                  font-family: "OpenSans-Semibold";
                  font-size: 22px;
                  line-height: normal;
                }

                .close {
                    -webkit-appearance: none;
                    padding: 0px 5px;
                    cursor: pointer;
                    background: url(../resources/image/popup_close_btn.svg) no-repeat;
                    width: 24px;
                    height: 24px;
                    background-position: center center;
                    background-size: 24px 24px;
                    position: absolute;
                    right: 14px;
                    top: 14px;
                    cursor: pointer;
                    border: none;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .modal-body {
                position: relative;
                padding: 10px 10px 10px 20px;
                // padding-bottom: 55px;
                overflow-y: auto;
                max-height: calc(100% - 95px);
                p{
                    margin-bottom: 10px;
                    font-size: 16px;
                }
                .progress-text {
                    padding-top: 20px;

                    .progress-text-title {
                        font-weight: bold;
                    }

                    // .progress-text-content {}
                }

                .progress {
                    height: 20px;
                    overflow: hidden;
                    background-color: #f5f5f5;
                    border-radius: 4px;
                    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
                    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);

                    .progress-bar {
                        float: left;
                        width: 0;
                        height: 100%;
                        font-size: 12px;
                        line-height: 20px;
                        color: #fff;
                        text-align: center;
                        background-color: #337ab7;
                        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
                        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
                        -webkit-transition: width .6s ease;
                        -o-transition: width .6s ease;
                        transition: width .6s ease;

                        &.progress-bar-striped {
                            background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
                            background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
                            background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
                            -webkit-background-size: 40px 40px;
                            background-size: 40px 40px;
                        }

                        &.progress-bar-success {
                            background-color: #5cb85c;
                        }

                        &.active,
                        .progress.active .progress-bar {
                            -webkit-animation: progress-bar-stripes 2s linear infinite;
                            -o-animation: progress-bar-stripes 2s linear infinite;
                            animation: progress-bar-stripes 2s linear infinite;
                        }

                        &.progress-bar-danger {
                            background-color: #d9534f;
                        }
                    }
                }

                &.no-header {
                    font-size: 18px;
                    text-align: center;
                    padding: 40px;
                }

                .inst{
                    font-size: 12px;
                }

                .star-container{
                    display: flex;
                    align-items: center;

                    .star-rating {
                        display: flex;
                        cursor: pointer;
                        padding-right: 15px;

                        .star {
                            font-size: 30px;
                            color: #ccc;
                            cursor: pointer;

                            &.star.selected {
                                color: gold;
                            }
                        }

                      }
                      .rating-text {
                        font-size: 10px;
                        color: rgba(0,0,0,0.7);
                      }
                }
            }

            .buttons-container {
                text-align: center;
                position: absolute;
                bottom: 10px;
                width: 100%;

                .modal-button {
                    display: inline-block;
                    padding: 7px 20px;
                    text-transform: uppercase;
                    padding: 10px 20px;
                    margin-left: 10px;
                    min-width: 97px;
                    background: rgb(112,21,234);
                    background: linear-gradient(90deg, rgba(112,21,234,1) 0%, rgba(103,26,233,1) 20%, rgba(86,38,231,1) 40%, rgba(61,53,229,1) 60%, rgba(45,63,228,1) 80%, rgba(32,72,226,1) 100%);
                    color: $colorWhite;
                    font-size: $fontSizeMini;
                    font-weight: normal;
                    border-radius: 5px;
                    cursor: pointer;
                    border: none;

                    // &:hover {
                    //     background-color: $colorPurple;
                    // }

                    &.hidden {
                        display: none;
                    }
                }
            }

            &.no-header {
                min-height: 170px;
            }
        }
    }
}

// custom
@media screen and (max-width: 768px) {

    .modal-background {

        &.fade {

            .modal-dialog {
                width: 85%;
            }
        }
    }

}
// Mobile both (Landscape and Portrait)
@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .modal-background{
        &.fade{
            .modal-dialog{
                width: 80%;
                height: 80%;
            }
        }
    }
}

// mobile Landscape
@media only screen and (min-width: 1px) and (max-width: 767px) and (orientation: landscape) {
    .modal-background{
        &.fade{
            .modal-dialog{
                width: 80%;
                height: 80%;
            }
        }
    }
}
