@import "sass/variables";
@import "sass/mixins";

@keyframes toAnimateRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes toAnimateRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes toAnimateLeft {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes toAnimateLeft {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes toAnimateRightMob {
    from {
        left: 100%;
    }

    to {
        left: 0px;
    }
}

@-webkit-keyframes toAnimateRightMob {
    from {
        left: 100%;
    }

    to {
        left: 0px;
    }
}

@keyframes toAnimateLeftMob {
    from {
        left: 0px;
    }

    to {
        left: 100%;
    }
}

@-webkit-keyframes toAnimateLeftMob {
    from {
        left: 0px;
    }

    to {
        left: 100%;
    }
}

@keyframes toAnimateDown {
    from {
        height: 0px;
    }

    to {
        height: 50px;
    }
}
@-webkit-keyframes toAnimateDown {
    from {
        height: 0px;
    }

    to {
        height: 50px;
    }
}


.playlist-container {
    float: left;
    width: 100%;
    height: calc(60% - 20px);
    position: relative;
    opacity: 1;
    padding-top: 10px;
    background: #ffffff;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    &.no-cpe {
        .playlist-buttons {
            display: none;
        }

        .playlist {
            .playlist-inner {
                height: $fullHeight;
                width: 60%;
            }
            .questionlist-inner{
                height: $fullHeight;
                width: 40%;
            }
        }
    }

    .playlist-buttons {
        background: #ffffff;
        position: absolute;
        bottom: 0;
        height: 40px;
        width: calc(100% - 15px);
        z-index: 1;
        padding: 10px 0 0;
        border-top: $lightGreyBorder;
        border-bottom: $lightGreyBorder;
        display: flex;

        .index-button {
            border-right: 1px solid $colorGray94;
            flex: 1 1 auto;
            height: 37px;
            float: left;
            cursor: pointer;
            position: relative;
            top: 0;
            @include underlineFromLeft;

            img {
                margin: 0 auto;
                display: block;
            }

            h4 {
                @include h4Stylinig;
            }
        }

        .resource-button {
            border-right: 1px solid $colorGray94;
            flex: 1 1 auto;
            height: 37px;
            float: left;
            cursor: pointer;
            position: relative;
            top: 0;
            @include underlineFromLeft;

            img {
                margin: 0 auto;
                display: block;
            }

            h4 {
                @include h4Stylinig;
            }
        }

        .glossary-button {
            flex: 1 1 auto;
            height: 37px;
            float: left;
            cursor: pointer;
            position: relative;
            top: 0;
            @include underlineFromLeft;

            img {
                margin: 0 auto;
                display: block;
            }

            h4 {
                @include h4Stylinig;
            }
        }
    }

    .playlist {
        height: $fullHeight;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;

        .playlist-inner {
            height: calc(100% - 52px);
            background: $colorWhite;
            width: 60%;

            .playlist-item {
                cursor: pointer;
                display: inline-flex;
                padding: 5px;
                margin-bottom: 1px;
                width: calc(100% - 10px);
                height: auto;
                position: relative;
                background: $colorWhite;
                box-shadow: 0px 6px 10px -8px #000;
                color: $colorGray20;
                flex-wrap: wrap;

                &.enabled {
                    @include underlineFromLeft;
                }

                &.current {
                    cursor: default !important;
                    @include currentPlaylistItem;

                }

                &.hide {
                    display: none;
                }

                &.disabled {
                    cursor: default;
                    color: $colorGray60;
                    @include grayscale;
                }

                .left-content {
                    width: 10%;
                    height: 50px;
                    background-color: #000;
                    position: relative;
                    margin: auto;
                    overflow: hidden;

                    .vid-thumbnail {
                        width: 67px;
                        @include centerAlign;
                    }

                    .duration {
                        @include videoDurationProperty;
                    }
                }

                .right-content {
                    width: 90%;
                    position: relative;

                    .item-complete {
                        @include itemCompletion;
                    }

                    .item-index {
                        @include ItemFontStyle;
                        padding: 10px 0 2px 0;
                        font-weight: bold;
                        height: 16px;
                    }

                    .item-title {
                        @include ItemFontStyle;
                        font-weight: normal;
                        height: 32px;
                    }
                }

                .audio-player-container {
                    display: none;
                    // height: 40px;
                    width: 100%;
                    background: grey;
                    position: relative;
                    bottom: 0;
                    height: 0px;
                    // transition: 0 0.5s ease;

                    &.showPlayer {
                        display: block;
                        height:50px;
                        -webkit-animation: toAnimateDown 0.3s 1 ease-in;
                        animation: toAnimateDown 0.3s 1 ease-in;
                    }



                }




            }

        }

        .questionlist-inner{
            height: calc(100% - 52px);
            width: 40%;

            .questionlist-item {
                cursor: pointer;
                display: inline-flex;
                padding: 5px;
                margin-bottom: 1px;
                width: calc(100% - 10px);
                height: auto;
                position: relative;
                background: $colorWhite;
                box-shadow: 0px 6px 10px -8px #000;
                color: $colorGray20;
                flex-wrap: wrap;

                &.enabled {
                    @include underlineFromLeft;
                }

                &.current {
                    cursor: default !important;
                    @include currentPlaylistItem;

                }

                &.hide {
                    display: none;
                }

                &.disabled {
                    cursor: default;
                    color: $colorGray60;
                    @include grayscale;
                }

                .left-content {
                    width: 10%;
                    height: 50px;
                    background-color: #000;
                    position: relative;
                    margin: auto;
                    overflow: hidden;

                    .vid-thumbnail {
                        width: 67px;
                        @include centerAlign;
                    }

                    .duration {
                        @include videoDurationProperty;
                    }
                }

                .right-content {
                    width: 90%;
                    position: relative;

                    .item-complete {
                        @include itemCompletion;
                        left: 200px;
                    }

                    .item-index {
                        @include ItemFontStyle;
                        padding: 10px 0 2px 0;
                        font-weight: bold;
                        height: 16px;
                    }

                    .item-title {
                        @include ItemFontStyle;
                        font-weight: normal;
                        height: 32px;
                    }
                }

                .audio-player-container {
                    display: none;
                    // height: 40px;
                    width: 100%;
                    background: grey;
                    position: relative;
                    bottom: 0;
                    height: 0px;
                    // transition: 0 0.5s ease;

                    &.showPlayer {
                        display: block;
                        height:50px;
                        -webkit-animation: toAnimateDown 0.3s 1 ease-in;
                        animation: toAnimateDown 0.3s 1 ease-in;
                    }



                }




            }
        }
    }

    &.animate-right {
        opacity: 0;
    }

    &.to-animate-right {
        -webkit-animation: toAnimateRight 0.3s 1 ease-in;
        animation: toAnimateRight 0.3s 1 ease-in;
    }

    &.to-animate-left {
        -webkit-animation: toAnimateLeft 0.3s 1 ease-in;
        animation: toAnimateLeft 0.3s 1 ease-in;
    }
}
.questionlist-inner {
    float: left;
    width: 40%;
    height: calc(100% - 20px);
    position: relative;
    opacity: 1;
    padding-top: 10px;
    background: #ffffff;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

/* media queries*/

// Mobile both (Landscape and Portrait)
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .playlist-container {
        margin: 0px;
        padding: 0;
        width: 100%;
        position: absolute;
        left: 100%;
        z-index: 1;
        height: 100%;

        &.no-cpe {
            .playlist {
                .playlist-inner {
                    height: calc(100% - 40px);
                }
            }
        }

        .playlist {
            background-color: $colorWhite;
            padding-top: 40px;

            .playlist-inner {
                height: calc(100% - 80px);
            }
        }

        .fullWidth {
            z-index: 0;
            position: relative;
        }

        .close-outer {
            width: 100%;
            height: 40px;
            background: $colorWhite;
            position: absolute;
            top: 0;
            z-index: 1;

            .close-button {
                @include closeButton;
            }
        }

        &.animate-right {
            opacity: 1;
            left: 0;
        }

        &.to-animate-right {
            opacity: 1;
            -webkit-animation: toAnimateRightMob 0.3s 1 ease-in;
            animation: toAnimateRightMob 0.3s 1 ease-in;
        }

        &.to-animate-left {
            opacity: 1;
            -webkit-animation: toAnimateLeftMob 0.3s 1 ease-in;
            animation: toAnimateLeftMob 0.3s 1 ease-in;
        }
    }
}

// mobile Landscape
@media only screen and (min-width: 1px) and (max-width: 767px) and (orientation: landscape) {
    .playlist-container {
        margin: 0px;
        padding: 0;
        width: 100%;
        position: absolute;
        left: 100%;
        z-index: 1;

        &.no-cpe {
            .playlist {
                .playlist-inner {
                    height: calc(100% - 40px);
                }
            }
        }

        .playlist {
            background-color: $colorWhite;
            padding-top: 40px;

            .playlist-inner {
                height: calc(100% - 80px);
            }
        }

        .fullWidth {
            z-index: 0;
            position: relative;
        }

        .close-outer {
            width: 100%;
            height: 40px;
            background: $colorWhite;
            position: absolute;
            top: 0;
            z-index: 1;

            .close-button {
                @include closeButton;
            }
        }

        &.animate-right {
            opacity: 1;
            left: 0;
        }

        &.to-animate-right {
            opacity: 1;
            -webkit-animation: toAnimateRightMob 0.3s 1 ease-in;
            animation: toAnimateRightMob 0.3s 1 ease-in;
        }

        &.to-animate-left {
            opacity: 1;
            -webkit-animation: toAnimateLeftMob 0.3s 1 ease-in;
            animation: toAnimateLeftMob 0.3s 1 ease-in;
        }
    }
}

// iPad Portrait
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .playlist-container {
        margin: 0px 10px 10px 10px;
        padding-top: 5px;
        width: calc(100% - 20px);
        height: calc(20% - 15px);
        right: 0px;
        display: block;

        &.no-cpe {
            .playlist {
                .playlist-inner {
                    height: 100%;
                }
            }
        }

        .playlist {
            .playlist-inner {
                .playlist-item {
                    width: calc(100% - 52%);

                    &:nth-child(odd) {
                        margin-right: 7px;
                    }
                }
            }
        }
    }
}