@import "sass/variables";
@import "sass/mixins";

@keyframes toAnimateRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes toAnimateRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


@keyframes toAnimateLeft {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes toAnimateLeft {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes toAnimateRightMob {
    from {
        left: 100%;
    }

    to {
        left: 0px;
    }
}

@-webkit-keyframes toAnimateRightMob {
    from {
        left: 100%;
    }

    to {
        left: 0px;
    }
}

@keyframes toAnimateLeftMob {
    from {
        left: 0px;
    }

    to {
        left: 100%;
    }
}

@-webkit-keyframes toAnimateLeftMob {
    from {
        left: 0px;
    }

    to {
        left: 100%;
    }
}

@keyframes toAnimateDown {
    from {
        height: 0px;
    }

    to {
        height: 50px;
    }
}

@-webkit-keyframes toAnimateDown {
    from {
        height: 0px;
    }

    to {
        height: 50px;
    }
}


.playlist-container {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 1;
    padding-top: 0px;
    // box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    &.no-cpe {
        .playlist-buttons {
            display: none;
        }

        .playlist {
            .playlist-inner {
                height: $fullHeight;
                width: 60%;
            }

            .questionlist-inner {
                height: $fullHeight;
                width: 40%;
            }
        }
    }

    .playlist-buttons {
        background: #ffffff;
        position: absolute;
        bottom: 0;
        height: 40px;
        width: calc(100% - 15px);
        z-index: 1;
        padding: 10px 0 0;
        border-top: $lightGreyBorder;
        border-bottom: $lightGreyBorder;
        display: flex;
        display: none;

        .index-button {

            border-right: 1px solid $colorGray94;
            flex: 1 1 auto;
            height: 37px;
            float: left;
            cursor: pointer;
            position: relative;
            top: 0;
            // @include underlineFromLeft;

            img {
                margin: 0 auto;
                display: block;
            }

            h4 {
                @include h4Stylinig;
            }
        }

        .resource-button {
            border-right: 1px solid $colorGray94;
            flex: 1 1 auto;
            height: 37px;
            float: left;
            cursor: pointer;
            position: relative;
            top: 0;
            // @include underlineFromLeft;

            img {
                margin: 0 auto;
                display: block;
            }

            h4 {
                @include h4Stylinig;
            }
        }

        .glossary-button {
            flex: 1 1 auto;
            height: 37px;
            float: left;
            cursor: pointer;
            position: relative;
            top: 0;
            // @include underlineFromLeft;

            img {
                margin: 0 auto;
                display: block;
            }

            h4 {
                @include h4Stylinig;
            }
        }
    }

    .playlist {
        height: $fullHeight;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        align-content: flex-start;

        .playlist-left-right {
            display: flex;
            height: 100%;

            .playlist-inner {
                height: calc(100% - 105px);
                // background: $colorWhite;
                width: 70%;
                margin-right: 15px;

                .playlist-title {
                    font-size: $fontSizeStandard;
                    color: $colorCobaltBlue;
                    font-weight: bold;
                    padding-bottom: 5px;
                    margin-bottom: 10px;
                    border-bottom: 2px solid #CACACA;
                }

                .playlist-item {
                    cursor: pointer;
                    display: inline-flex;
                    padding: 0px;
                    margin-bottom: 15px;
                    width: calc(100% - 10px);
                    height: auto;
                    position: relative;
                    background: $colorWhite;
                    box-shadow: 0px 3px 6px #00000029;
                    color: $colorGray20;
                    border-radius: 10px;
                    flex-wrap: wrap;
                    box-sizing: border-box;

                    &.enabled {
                        // @include underlineFromLeft;
                    }

                    &.current {
                        cursor: default !important;
                        @include currentPlaylistItem;

                        .left-content {
                            width: 90px;
                            height: 90px;
                        }

                    }

                    &.hide {
                        display: none;
                    }

                    &.disabled {
                        cursor: default;
                        color: $colorGray60;
                        @include grayscale;
                        @include chapterLockIcon;


                        .right-content {
                            .item-index {
                                color: $colorSacramentoGreen;
                            }
                            .item-title {
                                color: $colorSacramentoGreen;
                            }
                        }
                    }

                    .left-content {
                        width: 90px;
                        height: 62px;
                        position: relative;
                        border-radius: 6px;
                        margin: 10px 0 15px 10px;
                        overflow: hidden;
                        @include linearBg;

                        .vid-thumbnail {
                            width: 67px;
                            @include centerAlign;
                        }

                        .duration {
                            @include videoDurationProperty;
                        }
                    }

                    .right-content {
                        width: calc(100% - 100px);
                        position: relative;

                        .item-complete {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            position: absolute;
                            right: 10px;
                            top: 10px;

                            .complete-status-text {
                                font-size: 14px;
                                color: $colorCobaltBlue;
                                font-style: italic;
                                padding-right: 10px;
                            }
                            .complete-status-icon {
                                @include itemCompletion;
                                margin-top: 4px;
                            }
                        }

                        .item-inpogress {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            position: absolute;
                            right: 10px;
                            top: 10px;

                            .inpro-status-text {
                                font-size: 14px;
                                color: $colorCobaltBlue;
                                font-style: italic;
                                padding-right: 10px;
                            }
                            .inpro-status-icon {
                                @include itemInprogress;
                                margin-top: 4px;
                            }
                        }

                        .item-index {
                            @include ChapterNoFontStyle;
                            padding: 10px 0 2px 0;
                            font-weight: bold;
                            color: $colorCobaltBlue;
                        }

                        .item-title {
                            @include ChapterNameFontStyle;
                            font-weight: bold;
                            color: $colorCobaltBlue;
                        }
                    }

                    .audio-player-container {
                        display: none;
                        // height: 40px;
                        width: 100%;
                        background: rgba($color: #00B8F5, $alpha: 0.1);
                        position: relative;
                        bottom: 0;
                        height: 0px;
                        // transition: 0 0.5s ease;

                        &.showPlayer {
                            display: block;
                            height: auto;
                            -webkit-animation: toAnimateDown 0.3s 1 ease-in;
                            animation: toAnimateDown 0.3s 1 ease-in;
                        }

                            .controls {

                                .track_inner_btn {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
                                    height: 50px;
                                    padding-top: 2px;
                                }

                                .cc_text_main {
                                    display: flex;
                                    justify-content: center;
                                    margin-bottom: 5px;

                                    .cc_text_inner {
                                        background: rgba($color: #000000, $alpha: 0.6);
                                        padding: 1px 15px 2px 15px;
                                        color: $colorWhite;
                                    }
                                }

                            }
                            .transcript_btn {
                                @include transcriptBtn;
                                border: none;
                                cursor: pointer;
                                margin: 0 10px;
                            }


                            .refresh {
                            @include refreshBtn;
                            border: none;
                            cursor: pointer;
                            margin: 0 10px;
                            }

                            .back_chapt_btn {
                                @include backChaptBtn;
                                border: none;
                                cursor: pointer;
                                margin: 0 10px;

                                &.chapt-enabled {
                                    opacity: 1;
                                }

                                &.chapt-disabled {
                                    opacity: 0.5;
                                    cursor: default;
                                }
                            }

                            .next_chapt_btn {
                                @include nextChaptBtn;
                                border: none;
                                cursor: pointer;
                                margin: 0 10px;

                                &.chapt-enabled {
                                    opacity: 1;
                                }

                                &.chapt-disabled {
                                    opacity: 0.5;
                                    cursor: default;
                                }
                            }

                            .cc_text_btn {
                                border: none;
                                cursor: pointer;
                                margin: 0 10px;

                                &.captions-enabled {
                                    @include ccTextEnableBtn;
                                    //background: url(../resources/image/captions_icon.png) no-repeat 0 0;

                                    opacity: 1;
                                    &:hover {
                                        opacity: 0.5;
                                        //opacity: 1;
                                        //background: url(../resources/image/captions_icon.png) no-repeat -40px 0;
                                    }
                                }

                                &.captions-disabled {
                                    @include ccTextDisableBtn;
                                    //background: url(../resources/image/captions_icon.png) no-repeat -80px 0;

                                    // opacity: 0.5;
                                    &:hover {
                                        opacity: 1;
                                        //background: url(../resources/image/captions_icon.png) no-repeat -120px 0;
                                    }
                                }
                            }

                            .audio_on_off {
                                cursor: pointer;
                                margin: 0 10px;
                                border: none;

                                &.audio_on {
                                    @include audioOnBtn;
                                }

                                &.audio_off {
                                    @include audioOffBtn;
                                }
                            }

                            .play-pause {
                                margin: 0 10px;
                                cursor: pointer;

                                &.play {
                                    @include playBtn;
                                }

                                &.pause {
                                    @include pauseBtn;
                                }
                            }

                            .play_pause_btn {
                                position: absolute;
                                right: 15px;
                                top: 17px;
                                color: $colorCobaltBlue;
                            }

                            input[type="range"] {
                                /* removing default appearance */
                                -webkit-appearance: none;
                                appearance: none;
                                /* custom design */
                                width: 100%;
                                cursor: pointer;
                                outline: none;
                                /* increasing height to fit thumb better */
                                height: 13px; /* Same height as the thumb */
                                background: transparent;
                                position: absolute;
                                top: -11px;
                                left: -2px;
                                right: 0;
                                border-radius: 10px;
                                overflow: hidden;
                            }

                            /* Track: webkit browsers */
                            input[type="range"]::-webkit-slider-runnable-track {
                                height: 13px; /* Track height */
                                background: #707070;
                                background: rgba($color: #707070, $alpha: 0.3);
                                border-radius: 1.5px;
                                position: relative;
                                top: 50%;
                                transform: translateY(-50%); /* Vertically center the track within the range */
                            }

                            /* Track: Mozilla Firefox */
                            input[type="range"]::-moz-range-track {
                                height: 13px; /* Track height */
                                background: rgba($color: #707070, $alpha: 0.3);
                                border-radius: 1.5px;
                                position: relative;
                                top: 50%;
                                transform: translateY(-50%); /* Vertically center the track */
                            }

                            /* Thumb: webkit */
                            input[type="range"]::-webkit-slider-thumb {
                                /* removing default appearance */
                                -webkit-appearance: none;
                                appearance: none;
                                /* thumb design */
                                height: 13px;
                                width: 13px;
                                /* box-shadow aligned with track and progress */
                                box-shadow: -555px 0 0 545px #3B37E5; /* Adjust the range width dynamically */
                                position: relative;
                                border-radius: 100%;
                                top: 50%;
                                transform: translateY(-50%); /* Center the thumb */
                                z-index: 1;
                                @include rangeThumb;
                            }


                            /* Thumb: Firefox */
                            input[type="range"]::-moz-range-thumb {
                                height: 13px;
                                width: 13px;
                                background-color: #fff;
                                /* box-shadow aligned with track and progress */
                                box-shadow: -555px 0 0 545px #3B37E5; /* Adjust the range width dynamically */
                                position: relative;
                                border-radius: 100%;
                                top: 50%;
                                transform: translateY(-50%); /* Center the thumb */
                                z-index: 1;
                                @include rangeThumb;
                            }





                        .audio-player-template {
                            .controls {
                                .bottomNav_audioSpeed {
                                    position: relative;
                                    display: inline-block;

                                    .navigatorAudioSpeedBtn {
                                        background: none;
                                        color: #333333;
                                        border: none;
                                        padding: 0;
                                        font: inherit;
                                        cursor: pointer;
                                        outline: inherit;
                                        font-size: 16px;
                                        width: 38px;
                                        height: 38px;
                                        text-align: center;

                                    }
                                    &.navigatorAudioSpeedBtn:hover {
                                        background: #00b8f5;
                                        border-radius: 5px;
                                        height: 38px;
                                        font-weight: bold;
                                    }
                                    &.navigatorAudioSpeedBtn.disabled {
                                        cursor: default;
                                    }
                                    &.navigatorAudioSpeedBtn.disabled:hover {
                                        background: none;
                                        font-weight: normal;
                                    }

                                    .audioSpeedContent {
                                        display: none;
                                        position: absolute;
                                        // background-color: #00338d;
                                        color: blue;
                                        min-width: 52px;
                                        /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
                                        z-index: 1;
                                        bottom: 31px;
                                        /* Position the dropdown content above the button */
                                        left: -8px;
                                        border: 1px solid $colorCobaltBlue;
                                        background: $colorWhite;
                                        border-radius: 10px;

                                        a {
                                            color: $colorBlack;
                                            padding: 3px 5px;
                                            text-decoration: none;
                                            display: block;
                                            text-align: center;
                                            font-size: 12px;
                                            background-color: $colorWhite;
                                            border-radius: 10px;

                                        }
                                    }

                                }
                            }
                        }


                    }




                }

            }

            .questionlist-inner {
                height: calc(100% - 52px);
                width: 30%;

                .questionlist-item {
                    cursor: pointer;
                    display: inline-flex;
                    padding: 5px;
                    margin-bottom: 1px;
                    width: calc(100% - 10px);
                    height: auto;
                    position: relative;
                    background: $colorWhite;
                    box-shadow: 0px 6px 10px -8px #000;
                    color: $colorGray20;
                    flex-wrap: wrap;

                    &.enabled {
                        // @include underlineFromLeft;
                    }

                    &.current {
                        cursor: default !important;
                        @include currentPlaylistItem;

                    }

                    &.hide {
                        display: none;
                    }

                    &.disabled {
                        cursor: default;
                        color: $colorGray60;
                        @include grayscale;
                    }

                    .left-content {
                        width: 10%;
                        height: 50px;
                        background-color: #000;
                        position: relative;
                        margin: auto;
                        overflow: hidden;

                        .vid-thumbnail {
                            width: 67px;
                            @include centerAlign;
                        }

                        .duration {
                            @include videoDurationProperty;
                        }
                    }

                    .right-content {
                        width: 90%;
                        position: relative;

                        .item-complete {
                            @include itemCompletion;
                            left: 200px;
                        }

                        .item-index {
                            @include ItemFontStyle;
                            padding: 10px 0 2px 0;
                            font-weight: bold;
                            height: 16px;
                        }

                        .item-title {
                            @include ItemFontStyle;
                            font-weight: normal;
                            height: 32px;
                        }
                    }

                    .audio-player-container {
                        display: none;
                        // height: 40px;
                        width: 100%;
                        background: grey;
                        position: relative;
                        bottom: 0;
                        height: 0px;
                        // transition: 0 0.5s ease;

                        &.showPlayer {
                            display: block;
                            height: 50px;
                            -webkit-animation: toAnimateDown 0.3s 1 ease-in;
                            animation: toAnimateDown 0.3s 1 ease-in;
                        }



                    }




                }
            }

            .knowledge-check-list-inner {
                height: 100%;
                width: 30%;
                overflow: auto;

                .knowledge-checklist-title {
                    font-size: $fontSizeStandard;
                    color: $colorCobaltBlue;
                    font-weight: bold;
                    padding-bottom: 5px;
                    margin-bottom: 10px;
                    border-bottom: 2px solid #CACACA;
                }

                .knowledge-check-item{
                    cursor: pointer;
                    display: inline-flex;
                    padding: 5px;
                    margin-bottom: 15px;
                    width: calc(100% - 10px);
                    height: auto;
                    position: relative;
                    // background: $colorWhite;
                    background: $colorWhite;
                    box-shadow: 0px 3px 6px #00000029;
                    color: $colorGray20;
                    border-radius: 10px;
                    flex-wrap: wrap;

                    &.enabled {
                        background: $colorBlue;
                        color: $colorWhite;
                        // @include underlineFromLeft;
                        @include chapterUnlockIcon;

                        &.kc-complete {
                            background: $colorWhite;
                            @include chapterCompleteIcon;

                            .right-content {
                                .item-index {
                                    color: $colorCobaltBlue;
                                }
                            }
                        }

                        .right-content {
                            .item-index {
                                color: $colorWhite;
                            }
                        }
                    }

                    &.current {
                        cursor: default !important;
                        @include currentPlaylistItem;

                    }

                    &.hide {
                        display: none;
                    }

                    &.disabled {
                        cursor: default;
                        color: $colorGray60;
                        @include grayscale;
                        @include chapterLockIcon;
                    }

                    .left-content {
                        width: 10%;
                        height: 50px;
                        background-color: #000;
                        position: relative;
                        margin: auto;
                        overflow: hidden;

                        .vid-thumbnail {
                            width: 67px;
                            @include centerAlign;
                        }

                        .duration {
                            @include videoDurationProperty;
                        }
                    }

                    .right-content {
                        width: 100%;
                        position: relative;
                        padding-right: 10%;

                        .item-complete {
                            @include itemCompletion;
                        }

                        .item-index {
                            padding: 10px 0 2px 0;
                            @include QuestionTitleFontStyle;
                            font-weight: bold;
                            color: $colorCobaltBlue;
                            height: 60px;
                        }

                        .item-title {
                            @include ItemFontStyle;
                            font-weight: normal;
                            height: 32px;
                        }
                    }




                }
            }
        }
    }

    &.animate-right {
        opacity: 0;
    }

    &.to-animate-right {
        -webkit-animation: toAnimateRight 0.3s 1 ease-in;
        animation: toAnimateRight 0.3s 1 ease-in;
    }

    &.to-animate-left {
        -webkit-animation: toAnimateLeft 0.3s 1 ease-in;
        animation: toAnimateLeft 0.3s 1 ease-in;
    }
}

.questionlist-inner {
    float: left;
    width: 40%;
    height: calc(100% - 20px);
    position: relative;
    opacity: 1;
    padding-top: 10px;
    background: #ffffff;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

/* media queries*/

// Mobile both (Landscape and Portrait)
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .playlist-container {
        margin: 0px;
        padding: 0;
        width: 100%;
        position: absolute;
        left: 0%;
        z-index: 1;
        height: auto;

        &.no-cpe {
            .playlist {
                .playlist-inner {
                    height: calc(100% - 40px);
                }
            }
        }

        .playlist {
            padding-top: 0px;
            height: auto;

            .playlist-left-right {
                flex-direction: column;
                padding-top: 10px;

                .playlist-inner {
                    width: 100%;
                    height: auto;

                    .playlist-item {

                        &.current {
                            flex-direction: column;
                            align-items: center;

                            .left-content {
                                width: 142px;
                                height: 142px;
                                margin: 25px 0 5px 10px;

                                .vid-thumbnail {
                                    width: 142px;
                                }
                            }

                            .right-content {
                                width: 100%;
                                padding: 0 10px;
                                box-sizing: border-box;

                                .item-inpogress {
                                    top: -170px;
                                }
                                .item-complete {
                                    top: -170px;
                                }

                                .item-index {
                                    margin-left: 0;
                                }
                                .item-title {
                                    font-size: $fontSizeMini;
                                    margin-left: 0;
                                    margin-bottom: 27px;
                                }
                            }

                        }

                        .right-content {

                            .item-index {
                                padding-right: 5px;
                            }
                            .item-title {
                                font-size: $fontSizeMini;
                                line-height: 16px;
                                padding-right: 5px;
                            }
                        }

                        .audio-player-container {



                                .play_pause_btn {
                                    top: -31px;
                                    right: 6px;
                                }
                                .transcript_btn {
                                    margin: 0 5px;
                                }
                                .refresh {
                                    margin: 0 5px;
                                }
                                .back_chapt_btn {
                                    margin: 0 5px;
                                }
                                .play-pause {
                                    margin: 0 5px;
                                }
                                .next_chapt_btn {
                                    margin: 0 5px;
                                }
                                .cc_text_btn {
                                    margin: 0 5px;
                                }
                                .audio_on_off {
                                    margin: 0 5px;
                                }


                            .cc_text_main {
                                .cc_text_inner {
                                    font-size: $fontSizeMini;
                                }
                            }
                        }
                    }
                }

                .knowledge-check-list-inner {
                    height: auto;
                    width: 100%;
                }
            }
        }

        .fullWidth {
            z-index: 0;
            position: relative;
        }

        .close-outer {
            width: 100%;
            height: 40px;
            background: $colorWhite;
            position: absolute;
            top: 0;
            z-index: 1;
            display: none;

            .close-button {
                @include closeButton;
            }
        }

        &.animate-right {
            opacity: 1;
            left: 0;
        }

        &.to-animate-right {
            opacity: 1;
            -webkit-animation: toAnimateRightMob 0.3s 1 ease-in;
            animation: toAnimateRightMob 0.3s 1 ease-in;
        }

        &.to-animate-left {
            opacity: 1;
            -webkit-animation: toAnimateLeftMob 0.3s 1 ease-in;
            animation: toAnimateLeftMob 0.3s 1 ease-in;
        }
    }
}

// mobile Landscape
@media only screen and (min-width: 1px) and (max-width: 767px) and (orientation: landscape) {
    .playlist-container {
        margin: 0px;
        padding: 0;
        width: 100%;
        position: absolute;
        left: 0%;
        z-index: 1;
        height: auto;

        &.no-cpe {
            .playlist {
                .playlist-inner {
                    height: calc(100% - 40px);
                }
            }
        }

        .playlist {
            padding-top: 0px;
            height: auto;

            .playlist-left-right {
                flex-direction: column;
                padding-top: 10px;

                .playlist-inner {
                    width: 100%;

                    .playlist-item {
                        min-height: 100px;

                        &.current {
                            flex-direction: column;
                            align-items: center;

                            .left-content {
                                width: 142px;
                                height: 142px;
                                margin: 25px 0 5px 10px;

                                .vid-thumbnail {
                                    width: 142px;
                                }
                            }

                            .right-content {
                                width: 100%;
                                padding: 0 10px;
                                box-sizing: border-box;

                                .item-inpogress {
                                    top: -170px;
                                }
                                .item-complete {
                                    top: -170px;
                                }

                                .item-index {
                                    margin-left: 0;
                                }
                                .item-title {
                                    font-size: $fontSizeMini;
                                    margin-left: 0;
                                    margin-bottom: 15px;
                                    margin-right: 78px;
                                }
                            }

                        }

                        .right-content {

                            .item-index {
                                font-size: 12px;
                                line-height: 16px;
                            }

                            .item-title {
                                font-size: 12px;
                                line-height: 16px;
                            }
                        }
                    }
                }

                .knowledge-check-list-inner {
                    height: auto;
                    width: 100%;

                    .knowledge-check-item {

                        .right-content {

                            .item-index {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }

        .fullWidth {
            z-index: 0;
            position: relative;
        }

        .close-outer {
            width: 100%;
            height: 40px;
            background: $colorWhite;
            position: absolute;
            top: 0;
            z-index: 1;
            display: none;

            .close-button {
                @include closeButton;
            }
        }

        &.animate-right {
            opacity: 1;
            left: 0;
        }

        &.to-animate-right {
            opacity: 1;
            -webkit-animation: toAnimateRightMob 0.3s 1 ease-in;
            animation: toAnimateRightMob 0.3s 1 ease-in;
        }

        &.to-animate-left {
            opacity: 1;
            -webkit-animation: toAnimateLeftMob 0.3s 1 ease-in;
            animation: toAnimateLeftMob 0.3s 1 ease-in;
        }
    }
}

// iPad Portrait
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .playlist-container {
        margin: 0px 10px 10px 10px;
        padding-top: 5px;
        width: calc(100% - 20px);
        // height: calc(20% - 15px);
        right: 0px;
        display: block;

        &.no-cpe {
            .playlist {
                .playlist-inner {
                    height: 100%;
                }
            }
        }

        .playlist {
            .playlist-inner {
                .playlist-item {
                    width: calc(100% - 52%);

                    &:nth-child(odd) {
                        margin-right: 7px;
                    }
                }
            }
        }
    }
}